.idea/beecrowd.iml
.idea/discord.xml
.vscode/tasks.json
.idea/modules.xml
.output/
salary.exe
average.exe
circle.exe
output/average2.exe
output/difference.exe
output/extremelybasic.exe
output/sum.exe
